@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  display: block;
  box-sizing: border-box;
  text-align: center;
}
nav {
  max-width: 100%;
  background-color: #f5b642;
}
.descrip {
  text-align: left;
}

.container {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid blanchedalmond;
  border-radius: 5px;
  background-color: burlywood;
  max-height: max-content;
}

.my_card {
  display: flex;
  max-width: 700px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px auto;
  box-shadow: inset 0 0 10px #777777;
  padding: 15px;
  justify-content: center;
  text-align: right;
}

.img_icon {
  width: 150px;
  height: 150px;
  border: 1px solid burlywood;
  border-radius: 50%;
  background-image: url(https://sun9-14.userapi.com/impf/c624125/v624125005/38bf6/HGMXHde0XRI.jpg?size=540x960&quality=96&sign=0edaecd497c883220799ff2ea5d05029&type=album);
  background-size: cover;
  background-position: center;
}
.footer {
  max-width: 1200px;
  max-height: 170px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.footer .footer_block {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-items: center;
  margin: 0 auto;
  align-items: center;
  font-size: 0.7rem;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
}
.footer_block a {
  margin-top: 5px;
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  text-align: auto;
}
.footer_block a:visited {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}
.card {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #f5d442;
}
li.list-group-item {
  margin-bottom: 5px;
  background-color: #f5b642;
}
li.list-group-item-action:hover {
  margin-bottom: 5px;
  background-color: #f5d442;
}
h4.project_name {
  color: #ecf542;
  text-decoration: underline overline #f59042;
}
